@import "../../_variables";
@import "../../_mixins";
@import "../../_common";

.cwLayoutTimelineButtons {
  z-index: 100;
  margin-top: 3px;
  position: absolute;

  .btn.page-action {
    background-color: @cwPageActionButtonBackgroundColor;
    color: @cwPageActionButtonIconColor;
  }
  .btn.page-action.selected {
    background-color: lighten(@cwDiagramBreadCrumbBackgroundColor, 20%);
    color: @cwPageActionButtonIconColor;
  }
}

.cwLayoutTimelineExpertModeConfig {
  div.cwLayoutTimelineExpertModeContainerTab {
    display: flex;
  }
  div.cwLayoutTimelineExpertModeTabs {
    margin: 5px;
    transition: box-shadow 0.3s;
    color: rgba(0, 0, 0, 0.8);
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0 1rem;
    box-shadow: inset 0 -2px #000000;
    cursor: pointer;
  }
  div.cwLayoutTimelineExpertModeTabs.selected {
    box-shadow: inset 0 -2px #03a0ce;
  }
  .cwLayout_expertModeTableSelect {
    line-height: 0px;
  }
  div.cwPropertiesTableContainer {
    width: 99%;
    td.expertmode_table-buttonlist {
      white-space: inherit;
      width: 100%;
      div {
        white-space: inherit;
        padding-bottom: 2px;
        a {
          width: 100%;
          display: inline-block;
          padding: 6px 2px;
          margin-bottom: 0;
          font-size: 11px;
          font-weight: normal;
          line-height: 1.42857143;
          text-align: center;
          white-space: inherit;
          vertical-align: middle;
          -ms-touch-action: manipulation;
          touch-action: manipulation;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          background-image: none;
          border: 1px solid transparent;
          border-radius: 4px;
        }
        a.selected {
          background-color: lighten(@cwDiagramBreadCrumbBackgroundColor, 5%);
          border-color: @cwColor1Shade;
        }
      }
    }
  }
}

.vis-label {
  a.undefined {
    display: inline-flex;
  }
}
.vis-item-content {
  a {
    color: inherit !important;
  }
}

.vis-item {
  border-color: inherit;
}
.vakata-context {
  z-index: 10000;
}

.iconDotTimeline {
  left: 0px;
  position: absolute;
}

.vis-item.vis-dot.undefined.vis-readonly {
  visibility: hidden;
}

.border {
  position: absolute;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
//color icon
.jstree-icon.jstree-themeicon.fa.fa-cube {
  color: @cwDiagramBreadCrumbBackgroundColor;
}

@media screen and (min-width: 1024px) {
  body:not(.cw_print).main-menu-collapsed .page-content-wrap .page-top {
    width: calc(100% - 40px);
  }
}
